.header {
    // height: 100vh;
    background-image: linear-gradient(to right, rgba($color-primary, 1) 40%, rgba($color-primary, 0.7) 70%, rgba($color-primary, 0) 100%),
        url(../../img/warehouse1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
