// .nav {
//     width: 100%;
//     background-color: $color-light;
//     padding: 1rem 0;

//     &__container {
//         max-width: 114rem;
//         margin: 0 auto;

//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap: 26rem;
//     }

//     &__logo-link {
//         width: 20rem;
//     }

//     &__logo {
//         width: 100%;
//     }

//     &__list {
//         list-style: none;

//         display: inline-flex;
//         align-items: center;
//         gap: 2.2rem;
//     }

//     &__link {
//         &,
//         &:visited {
//             text-decoration: none;
//             color: $color-primary;
//             font-size: 1.6rem;
//             font-weight: 600;
//         }

//         &:hover {
//             color: $color-accent-hover;
//         }
//     }
// }

.nav {
    padding-top: 3rem;
    max-width: 114rem;
    margin: 0 auto;
    background-color: white;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26rem;

    @include respond(tab-port) {
        gap: 0;
        justify-content: space-between;
        padding: 3rem;
    }

    @include respond(phone) {
        padding: 2.5rem 0;
    }

    &--no-links-bar {
        justify-content: center;
    }

    &__logo-link {
        width: 20rem;
        text-decoration: none;
    }

    &__logo {
        width: 100%;
        transform: translateX(10px);

        &--solo {
            margin: 0 auto;
            transform: translateX(0);
        }
    }

    &__list {
        list-style: none;

        display: inline-flex;
        align-items: center;
        gap: 2.2rem;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

        &--display-responsive {
            @include respond(tab-port) {
                display: block;
                position: absolute;
                top: 8rem;
                left: 3rem;
                z-index: 101;
                opacity: 0;
                transform: translateY(-100%);
            }
        }

        &--display-on-click {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__item {
        padding: 1rem 0;

        @include respond(tab-port) {
            margin-bottom: 1rem;
        }
    }

    &__link {
        &,
        &:visited {
            text-decoration: none;
            color: $color-primary;
            font-size: 1.6rem;
            font-weight: 600;

            &:hover {
                color: $color-accent-hover;
            }

            @include respond(tab-port) {
                font-size: 2.2rem;
                color: $color-white;
                font-weight: 400;
            }
        }
    }

    &__burger-btn {
        background-color: transparent;
        border: none;
        width: 5rem;
        height: 5rem;
        cursor: pointer;

        position: absolute;
        top: 3rem;
        right: 3rem;
        z-index: 101;

        &--display-responsive {
            display: none;

            @include respond(tab-port) {
                display: inline-block;
            }
        }

        @include respond(phone) {
            top: 1.5rem;
            right: 1.5rem;
        }
    }

    &__burger-stick {
        width: 2.8rem;
        height: 2px;
        background-color: $color-light;
        border-radius: 5px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        transition: all 0.25s ease-in;

        &--1 {
            top: 32%;
        }

        &--3 {
            top: 68%;
        }

        &--change-shape-up {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &--hide-middle {
            opacity: 0;
        }

        &--change-shape-down {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__filler {
        transition: height 0.4s ease-in-out;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        background-color: rgba($color-primary, 0.85);
        backdrop-filter: blur(5px);
        overflow: hidden;

        &--respond {
            height: 100vh;
        }
    }
}
