//COLORS
$color-primary: #4e0b74; // Navy Blue (Trust)
$color-primary-light: #c07ae8; // Navy Blue (Trust)
$color-primary-dark: #020617;
$color-accent: #f97316; // Industrial Orange (Action)
$color-accent-hover: #ea580c;
$color-light: #f8fafc; // Light Gray background
$color-dark: #334155; // Dark text

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #d8d8d8;
$color-grey-light: #dadada;
$color-grey-light-2: #dfdfdf;
$color-grey-dark: #cbcbcb;
$color-grey-dark-2: #94969c;
$color-grey-dark-3: #878787;
$color-grey-dark-4: #b3b3b3;

$color-dark-green: #0a0f09;
$color-dark-grey: #1f201f;
$color-dark-1: #111111;
$color-dark-2: #121910;
$color-light: #f8f3f0;
$color-light-2: #f0eeeb;
$color-beige: #f2e9e2;

// FONT-SIZE
$default-font-size: 1.4rem;

//FONT-FAMILY
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Recoleta", sans-serif;

$font-stack: "Inter", system-ui, sans-serif;
$max-width: 1200px; // Width of your website container
